version: '3.7'
services:
  mongo:
    image: mongo
    ports:
      - 27017:27017
  userservice:
    image: docker.pkg.github.com/cshep4/premier-predictor-microservices/userservice
    ports:
      - 3005:3005
      - 8085:8085
    environment:
      - AUTH_ADDR=kauthservice:3001
      - HTTP_PORT=8085
      - PORT=3005
      - MONGO_SCHEME=mongodb
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo
  kauthservice:
    image: docker.pkg.github.com/cshep4/premier-predictor-microservices/kauthservice
    restart: always
    environment:
      - USER_ADDR=userservice
      - USER_PORT=3005
      - PORT=3001
      - HTTP_PORT=8081
      - JWT_SECRET=some-jwt-secret
      - EMAIL_URL=http://emailer:8081
    depends_on:
      - userservice
    ports:
      - 3001:3001
      - 8081:8081
  fixtureservice:
    image: docker.pkg.github.com/cshep4/premier-predictor-microservices/fixtureservice
    ports:
      - 3006:3006
      - 8086:8086
    environment:
      - AUTH_ADDR=kauthservice:3001
      - HTTP_PORT=8086
      - PORT=3006
      - MONGO_SCHEME=mongodb
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo
      - kauthservice
  leagueservice:
    image: docker.pkg.github.com/cshep4/premier-predictor-microservices/leagueservice
    ports:
      - 3009:3009
      - 8089:8089
    environment:
      - AUTH_ADDR=kauthservice:3001
      - HTTP_PORT=8089
      - PORT=3009
      - MONGO_SCHEME=mongodb
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo
      - kauthservice
  predictionservice:
    image: docker.pkg.github.com/cshep4/premier-predictor-microservices/predictionservice
    ports:
      - 3007:3007
      - 8087:8087
    environment:
      - AUTH_ADDR=kauthservice:3001
      - FIXTURE_ADDR=fixtureservice:3006
      - HTTP_PORT=8087
      - PORT=3007
      - MONGO_SCHEME=mongodb
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo
      - kauthservice
      - fixtureservice
  livematchservice:
    image: docker.pkg.github.com/cshep4/premier-predictor-microservices/livematchservice
    ports:
      - 3008:3008
      - 8088:8088
    environment:
      - AUTH_ADDR=kauthservice:3001
      - PREDICTION_ADDR=predictionservice:3007
      - HTTP_PORT=8088
      - PORT=3008
      - MONGO_SCHEME=mongodb
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo
      - kauthservice
      - predictionservice
  gatewayservice:
    image: docker.pkg.github.com/cshep4/premier-predictor-microservices/gatewayservice
    restart: always
    environment:
      - AUTH_ADDR=kauthservice:3001
      - FIXTURE_ADDR=fixtureservice:3006
      - PREDICTION_ADDR=predictionservice:3007
      - LIVE_MATCH_ADDR=livematchservice:3008
      - LEAGUE_ADDR=leagueservice:3009
      - USER_ADDR=userservice:3005
    depends_on:
      - userservice
      - kauthservice
      - fixtureservice
      - leagueservice
      - predictionservice
      - livematchservice
    ports:
      - 4000:4000