name: Build-Package-KauthService

on:
  push:
    paths:
      - 'src/kauthservice/**'
      - '.github/workflows/build-kauthservice.yml'

env:
  DOCKER_RGISTRY: docker.pkg.github.com/cshep4/premier-predictor-microservices

jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Docker Login
        run: |
          docker login docker.pkg.github.com -u cshep4 -p ${{ secrets.GITHUB_TOKEN }}

      - name: Build kauthservice
        run: |
          cp -R proto-gen/model/proto src/kauthservice/src/main
          docker build -f src/kauthservice/src/main/docker/Dockerfile.multistage -t ${{ env.DOCKER_RGISTRY }}/kauthservice:latest -t ${{ env.DOCKER_RGISTRY }}/kauthservice:$(echo ${GITHUB_SHA} | cut -c1-8) -m 16g src/kauthservice
          docker push ${{ env.DOCKER_RGISTRY }}/kauthservice