name: Build-Package-FixtureService

on:
  push:
    paths:
      - 'src/fixtureservice/**'
      - '.github/workflows/build-fixtureservice.yml'

env:
  DOCKER_RGISTRY: docker.pkg.github.com/cshep4/premier-predictor-microservices

jobs:
  build-and-publish-latest:
    name: Build and Push FixtureService
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Docker Login
        run: |
          docker login docker.pkg.github.com -u cshep4 -p ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: |
          cp -R proto-gen/model/proto src/fixtureservice/proto
          docker build \
            --build-arg GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            -t ${{ env.DOCKER_RGISTRY }}/fixtureservice:latest \
            -t ${{ env.DOCKER_RGISTRY }}/fixtureservice:$(echo ${GITHUB_SHA} | cut -c1-8) \
            -t ${{ env.DOCKER_RGISTRY }}/fixtureservice:${GITHUB_REF##*/}_$(echo ${GITHUB_SHA} | cut -c1-8) \
            src/fixtureservice

      - name: Push
        run: |
          docker push ${{ env.DOCKER_RGISTRY }}/fixtureservice
