name: Tag-Release

on: push

env:
  DOCKER_RGISTRY: docker.pkg.github.com/cshep4/premier-predictor-microservices

jobs:
  tag-releases:
    name: Tag Releases
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    steps:
      - name: Docker Login
        run: |
          docker login docker.pkg.github.com -u cshep4 -p ${{ secrets.GITHUB_TOKEN }}

      - name: Tag FixtureService
        if: contains(github.ref, 'fixtureservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/fixtureservice \
            ${{ env.DOCKER_RGISTRY }}/fixtureservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/fixtureservice:${GITHUB_REF##*/}

      - name: Tag GatewayService
        if: contains(github.ref, 'gatewayservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/gatewayservice \
            ${{ env.DOCKER_RGISTRY }}/gatewayservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/gatewayservice:${GITHUB_REF##*/}

      - name: Tag KauthService
        if: contains(github.ref, 'kauthservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/kauthservice \
            ${{ env.DOCKER_RGISTRY }}/kauthservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/kauthservice:${GITHUB_REF##*/}

      - name: Tag LeagueService
        if: contains(github.ref, 'leagueservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/leagueservice \
            ${{ env.DOCKER_RGISTRY }}/leagueservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/leagueservice:${GITHUB_REF##*/}

      - name: Tag LiveMatchService
        if: contains(github.ref, 'livematchservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/livematchservice \
            ${{ env.DOCKER_RGISTRY }}/livematchservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/livematchservice:${GITHUB_REF##*/}

      - name: Tag PredictionService
        if: contains(github.ref, 'predictionservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/predictionservice \
            ${{ env.DOCKER_RGISTRY }}/predictionservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/predictionservice:${GITHUB_REF##*/}

      - name: Tag UserService
        if: contains(github.ref, 'userservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/userservice \
            ${{ env.DOCKER_RGISTRY }}/userservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/userservice:${GITHUB_REF##*/}
