name: Tag-Release

on:
  push:
    branches:
      - "!*"
    tags:
      - '*'

env:
  DOCKER_RGISTRY: docker.pkg.github.com/cshep4/premier-predictor-microservices

jobs:
  tag-releases:
    name: Build and Push FixtureService
    runs-on: ubuntu-latest

    steps:
      - name: Docker Login
        run: |
          docker login docker.pkg.github.com -u cshep4 -p ${{ secrets.GITHUB_TOKEN }}

      - name: Set Version Environment Variable
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Tag FixtureService
        if: contains(github.ref, 'fixtureservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/fixtureservice:latest \
            ${{ env.DOCKER_RGISTRY }}/fixtureservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/fixtureservice:${GITHUB_REF##*/}

      - name: Tag GatewayService
        if: contains(github.ref, 'gatewayservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/gatewayservice:latest \
            ${{ env.DOCKER_RGISTRY }}/gatewayservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/gatewayservice:${GITHUB_REF##*/}

      - name: Tag KauthService
        if: contains(github.ref, 'kauthservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/kauthservice:latest \
            ${{ env.DOCKER_RGISTRY }}/kauthservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/kauthservice:${GITHUB_REF##*/}

      - name: Tag LeagueService
        if: contains(github.ref, 'leagueservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/leagueservice:latest \
            ${{ env.DOCKER_RGISTRY }}/leagueservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/leagueservice:${GITHUB_REF##*/}

      - name: Tag LiveMatchService
        if: contains(github.ref, 'livematchservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/livematchservice:latest \
            ${{ env.DOCKER_RGISTRY }}/livematchservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/livematchservice:${GITHUB_REF##*/}

      - name: Tag PredictionService
        if: contains(github.ref, 'predictionservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/predictionservice:latest \
            ${{ env.DOCKER_RGISTRY }}/predictionservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/predictionservice:${GITHUB_REF##*/}

      - name: Tag UserService
        if: contains(github.ref, 'userservice/')
        run: |
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/userservice:latest \
            ${{ env.DOCKER_RGISTRY }}/userservice:${GITHUB_REF##*/}
          docker push ${{ env.DOCKER_RGISTRY }}/userservice:${GITHUB_REF##*/}
