name: Tag-Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Bump Version
        default: v1.0.0
        required: true
      package:
        description: Package Name
        required: true
      docker:
        description: Docker Build (Y/N)
        default: Y
        required: true

env:
  DOCKER_RGISTRY: docker.pkg.github.com/cshep4/premier-predictor-microservices

jobs:
  tag-releases:
    name: Tag Release
    runs-on: ubuntu-latest

    steps:
      - name: Create Release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: src/${{ github.event.inputs.service }}/${{ github.event.inputs.version }}
          release_name: src/${{ github.event.inputs.service }}/${{ github.event.inputs.version }}

#      - name: Create tag
#        run: git tag src/${{ github.event.inputs.service }}/${{ github.event.inputs.version }}

      - name: Docker login
        if: github.event.inputs.docker == 'Y'
        run: |
          docker login docker.pkg.github.com -u cshep4 -p ${{ secrets.GITHUB_TOKEN }}

      - name: Tag docker image
        if: github.event.inputs.docker == 'Y'
        run: |
          docker pull ${{ env.DOCKER_RGISTRY }}/${{ github.event.inputs.service }}:latest
          docker tag \
            ${{ env.DOCKER_RGISTRY }}/${{ github.event.inputs.service }}:latest \
            ${{ env.DOCKER_RGISTRY }}/${{ github.event.inputs.service }}:${{ github.event.inputs.version }}
          docker push ${{ env.DOCKER_RGISTRY }}/${{ github.event.inputs.service }}:${{ github.event.inputs.version }}
